[Unit]
Description=Traffic Control Smart Shaping Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
RuntimeDirectory=tcsss
StateDirectory=tcsss
LogsDirectory=tcsss
KillMode=control-group
KillSignal=SIGTERM
FinalKillSignal=SIGKILL
TimeoutStopSec=30s

ExecStart=/usr/local/bin/tcsss
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
