[Unit]
Description=Traffic Control Smart Shaping Service
After=network.target
Wants=network.target

[Service]
Type=notify
User=root
RuntimeDirectory=tcsss
StateDirectory=tcsss
LogsDirectory=tcsss

SyslogIdentifier=tcsss

ExecStart=/usr/local/bin/tcsss
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
